.testimonials{
    padding:100px 0;
    background:#fff;
}

.testimonial-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.testimonial-card{
    background:#f8f8f8;
    padding:35px;
    text-align:center;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.3s;
}

.testimonial-card:hover{
    transform:translateY(-10px);
}

.testimonial-card img{
    width:90px;
    height:90px;
    border-radius:50%;
    object-fit:cover;
    margin:auto;
    margin-bottom:20px;
}

.testimonial-card h3{
    margin-bottom:10px;
}

.stars{
    color:#ffc107;
    font-size:20px;
    margin-bottom:15px;
}

.testimonial-card p{
    color:#666;
    line-height:1.7;
}
.product-extra{

    display:flex;

    justify-content:space-between;

    margin-top:18px;

    color:#777;

    font-size:14px;

}

.product-extra span{

    display:flex;

    align-items:center;

    gap:6px;

}

.product-extra i{

    color:#ef3b3a;

}